{
  "root": true,
  // 确保此配置为根配置
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended", // Vue 3 推荐规则
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:tailwindcss/recommended",
    "prettier"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "vue",
    "@typescript-eslint",
    "import",
    "prettier"
  ],
  "rules": {
    "import/no-unresolved": "off",
    "@typescript-eslint/consistent-type-imports": "error",
    // 如果你遇到 `defineComponent` 未找到的问题，可以禁用规则
    "import/named": "off"  // 禁用 import/named 规则
  },
  "globals": {
    "chrome": "readonly"
  },
  "ignorePatterns": [
    "watch.js",
    "dist/**"
  ],
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx",
        "*.vue",
        "*.d.ts",
        "*.json"
      ]
    }
  ]
}
